h3, h2{
    font-family: 'Playfair Display', serif;
}
p, a{
    font-family: 'Prompt', sans-serif;
}
#intro-cont{
    background-color: #FCF8F8;
}
.intro-cont-div > h2{
    font-size: 50px;
    font-weight: 500;
    width: 67%;
}
#intro-cont > div {
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}
#intro-cont > div > div{
    width: 50%;
    text-align: left;
}
.intro-cont-div > button, #last-point > div > button{
    padding: 12px 20px;
    font-size: 15px;
    color: white;
    background: #f45d48;
    border: none;
    border-radius: 5px;
}
.intro-cont-img > img{
    max-width: 100%;
}
.box-tpp{
    max-width: 70%;
    text-align: center;
    margin: auto;
    padding: 115px 15px 120px 15px;
}
.intro-heading{
    color: #f45d48;
    font-weight: 700;
    font-size: 15px;
    margin: 0px 0px 24px 0px;
}
.h2-tag{
    font-size: 40px;
    font-weight: 400;
    margin: 0px 0px 24px 0px;
}
.box-tpp > h2{
    width: 80%;
    margin: auto;
}
.p-tag{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 0px 0px 24px 0px;
}
.box-tpp > img{
    width: 80px;
    height: 80px;
}
#step1, #step2, #step3, #step4{
    padding: 46px 64px;
}
.s-mdiv{
    padding: 80px 15px 90px 15px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a:link{
    color: rgb(2, 100, 100);
    text-decoration: none;
}
a:hover{
    color: rgb(2, 253, 241);
    text-decoration: underline;
}
a:visited{
    color: teal;
    text-decoration: none;
}
.s-mdiv > div{
    width: 50%;
}
.s-div{
    max-width: 38%;
    margin: auto;
}
.img-odd{
    max-width: 90%;
    margin: auto;
}
.step-even{
    padding: 0% 20% 0% 0%;
}
.img-even{
    max-width: 100%;
    padding: 0%;
}
#few-words{
    padding: 130px 15px;
    width: 95%;
    margin: 0px auto 0px auto;
    text-align: center;
}
#few-words > h2{
    width: 50%;
    margin: 0px auto 15px auto;
    font-size: 32px;
    font-weight: 500;
}
.few-words-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.few-words-div > img{
    max-width: 17%;
    padding: 0px 25px;
    height: 39px;
    border: 1px solid rgb(234, 234, 234);
    border-left: none;
}
.few-words-div > p{
    padding: 10px 25px 10px 25px;
    max-width: 100%;
    font-size: 13px;
    border: 1px solid rgb(234, 234, 234);
    border-right: none;
}
#hey-there{
    background: #FCF8F8;
    margin: 0%;
}
.ht-mdiv{
    width: 80%;
    padding: 144px 102px 154px 102px;
    margin: auto;
    display: flex;
    align-items: center;
}
.ht-mdiv > div{
    width: 50%;
    margin: auto;
    padding: 0px 10px;
}
.ht-img{
    max-width: 85%;
    margin: 0% 0% 0% 20%;
}
.ht-p-tag, .ht-h2-tag{
    width: 70%;
    padding: 0px 0px 24px 0px;
    margin: 0% 0% 0% 30%;
}
.ht-h2-tag{
    font-size: 42px;
}
.dropdown-cont{
    display: none;
    position: relative;
    max-width: 40%;
}
.ques-mdiv{
    max-width: 90%;
    margin: 0% auto;
    padding: 80px 15px 90px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ques-h2{
    margin: 0px 0px 40px 0px;
    font-size: 42px;
}
.dropdown > a{
    width: 50%;
    color: black;
    font-size: 25px;
}
.dropdown > a:hover{
    padding-left: 10px;
    color: darkcyan;
    text-decoration: underline;
}
.arrow {
    border: solid #0a8080;
    border-width: 0 3px 3px 0;
    border-radius: 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-45deg);
    margin-top: 112%;
}
.dropdown{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.ques-mdiv > div{
    margin-bottom: 80px;
}
.ea-mdiv{
    max-width: 90%;
    margin: auto;
    padding: 80px 15px 90px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ea-mdiv > div{
    max-width: 22%;
    margin: 0% 0.5%;
}
.with-border{
    box-shadow: 0.5px 0.5px 4px rgb(209, 208, 208), -0.5px -0.5px 4px rgb(196, 194, 194);
}
.with-border > img{
    max-width: 100%;
}
.with-border > div{
    padding: 20px;
}
.with-border > div > a{    
    font-family: 'Prompt', sans-serif;
}
#the-people-platform2{
    text-align: center;
    background-color: #f0ebe9;
}
.tpp2-mdiv{
    padding: 80px 15px 90px 15px;
}
.box1-tpp2{
    max-width: 50%;
    margin: auto;
}
.box1-tpp2 > p, .box1-tpp2 > h2 {
    margin: 0px 0px 10px 0px;
}
.box1-tpp2 > h3{
    margin: 0px 15px 15px 15px;
}
.box2-tpp2{
    font-size: 14px;
    font-weight: 400px;
    display: flex;
    justify-content: space-between;
    max-width: 55%;
    margin: 20px auto 0px auto;
}
.box2-tpp2 > div{
    display: flex;
    flex-direction: column;
    width: 20%
}
.box2-tpp2 > div > img{
    width: 50px;
    height: 50px;
    margin: 0px auto;
    padding-bottom: 15px;
}
.box2-tpp2 > div > a:link{
    color: black;
    text-decoration: none;
}
.box2-tpp2 > div > a:visited{
    color: black;
    text-decoration: none;
}
.box2-tpp2 > div > a:hover{
    color: teal;
    text-decoration: underline;
}
#last-point{
    padding: 80px 15px 90px 15px;
    text-align: center;
}
#last-point > div{
    width: 30%;
    margin: auto;
    font-weight: 700;
}
#last-point > div > p{
    margin: 0px 0px 25px 0px;
}
footer{
    width: 90%;
    padding: 55px 15px 50px 15px;
    margin: auto;
    font-size: 15px;
}
.cont{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
#talk-shop{
    display: flex;
    margin-bottom: 10px;
    padding: 0px 15px;
}
#talk-shop > div{
    border-top: 1px solid #e7e7ec;
    width: 66.666%;
    margin: auto;
}
.cont > div{
    padding: 0px 15px 40px 15px;
}
.f-title{
    color: black;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}
.blue-text{
    color: #0A8080;
    margin: 0px 0px 10px 0px;
}
.grey-text{
    color: #525257;
    margin: 0px 0px 10px 0px;
}
.subtitle{
    color: #525257;
    margin: 0px 0px 10px 0px;
}
.subtitle:hover, .blue-text:hover{
    color: #007bff;
}
.subtitle-a{
    font-weight: 300;
    color: black;
}