h1, h2, h5{
    font-family: 'Playfair Display', serif;
}
p, h3, a{
    font-family: 'Prompt', sans-serif;
    line-height: 24px;
}
#intro{
    max-width: 95%;
    text-align: center;
    padding: 80px 15px 30px 15px;
}
#intro1_1{
    margin: auto;
}
.intro-heading{
   color: #f45d48;
    font-weight: 700;
    margin-bottom: 15px;
}
.intro-heading2{
    width: 60%;
    margin: 0px auto 15px auto;
    font-size: 52px;
    font-weight: 500;
}
#intro1_1 > p{
    width: 35%;
    margin: 0px auto 15px auto;
    font-size: 20px;
}
#intro1_1 > button, #last-point > div > button{
    padding: 12px 20px;
    font-size: 15px;
    color: white;
    background: #f45d48;
    border: none;
    border-radius: 5px;
}
#image-top{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    max-width: 1184px;
    margin: auto;
    text-align: left;
    padding: 0px 15px 90px;
}
#image-top > div:nth-child(1){
    margin-right: 14.5%;
    margin-bottom: 9px;
}
#image-top > div:nth-child(3){
    margin-left: -3%;
    margin-bottom: 43px;
}
.shadowing-images{
    margin-left: -32.5%;
}
#multi-tabs{
    margin: 0px 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px 15px 120px 15px;
}
.multi-cont{
    width: 16%;
    padding: 0px 15px;
}
.multi-p-tags{
    font-size: 17px;
    margin: 0px;
}
.multi-h4-tags{
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
#offer-letters{
    background: #f3fafb;
}
.offer-letters-mdiv, .documents-div{
    max-width: 100%;
    padding: 90px 25px 170px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box1{
    max-width: 33.33%;
    padding: 15px;
}
.box1-ol, .box2-ol, .box2-oc, .box1-oc{
    margin-left: 8.33%;
}
.box2 > img{
    max-width: 100%;
}
.h2-tag{
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0px;
}
.p-tag{
    font-size: 15px;
    margin: 10px 0px;
}
.offer-letters-video{
    margin-left: 8.33%;
    margin-top: -202px;
}
.onboarding-checklist-mdiv{
    max-width: 100%;
    padding: 100px 25px 90px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2-oc, .box2-tm{
    margin-left: 8.33%;
    margin-right: 0%;
}
.box1-oc, .box1-tm{
    margin-left: 0%;
    margin-right: 8.33%;
    padding: 0px 15px;
}
#few-words{
    padding: 80px 15px 220px 15px;
    width: 95%;
    margin: 0px auto 0px auto;
    text-align: center;
}
#few-words > p{
    width: 80%;
    margin: 0px auto 15px auto;
    font-size: 50px;
    font-weight: 500;
    line-height: 54px;
}
.few-words-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.few-words-div > img{
    max-width: 17%;
    height: 40px;
    border: 1px solid gray;
    border-left: none;
}
.few-words-div > p{
    padding: 10px 10px;
    max-width: 100%;
    font-size: 17px;
    border: 1px solid gray;
    border-right: none;
}
.documents-mdiv{
    display: grid;
    padding: 215px 25px 90px 25px;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 'box1 box2'
                         'box3 box4'
                         'box3 box4';
    gap: 0px;
}
#B1{
    grid-area: box1;
}
#B2{
    grid-area: box2;
    margin-left: 25%;
}
#B3{
    grid-area: box3;
    padding-top: 20%;
    max-width: 70%;
}
#B4{
    grid-area: box4;
    margin-top: -5px;
}
.box2-doc > img{
    max-width: 95%;
    box-shadow: 1px 1px 10px rgb(209, 208, 208), -1px -1px 10px rgb(196, 194, 194);   
}
#documents{
    max-width: 100%;
    background: #FFF8E1;
}
#software-setup{
    text-align: center;
    max-width: 40%;
    margin: 100px auto;
}
.cont1 > img{
    max-width: 90%;
    padding: 20px 20px 10px 20px;
}
.cont1 > p{
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    padding: 0px 10px 20px 10px;
}
#container{
    max-width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cont1{
    width: 160px;
    height: 195px;
    margin: 25px 40px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0.1px 0.1px 10px rgb(209, 208, 208), -0.1px -0.1px 10px rgb(196, 194, 194);
}
.tm-checklist-mdiv{
    padding: 380px 25px 120px 25px;
    display: flex;
    flex-direction: row;
}
#center-video{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
#team-management{
    margin-top: -256px;
    background-color: #f0ebe9;
}
.box1-tm{
    padding-left: 7%;
}
#blue-box{
    background: #009B9B;
    color: white;
    text-align: center;
}
.blue-box-mdiv{
    padding: 130px 15px 150px 15px;
    max-width: 85%;
    margin: auto;
}
.blue-box-div{
    display: flex;
    justify-content: center;
}
.blue-box-mdiv > h1{
    font-size: 53px;
    font-weight: 700;
    margin-bottom: 70px;
    margin-top: 0px;
}
.blue-box-div > div > h5{
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}
.blue-box-div > div:nth-child(odd){
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
}
.blue-box-div > div:nth-child(even){
    border: none;
    border-left: 2px solid rgb(14, 197, 230);
    height: 270px;
}
.blue-box-div > div > a{
    color: white;
    font-weight: 400;
    font-size: 17px;
}
#the-people-platform{
    text-align: center;
    background-color: #f0ebe9;
}
.tpp-mdiv{
    padding: 80px 15px 90px 15px;
}
.box1-tpp{
    max-width: 50%;
    margin: auto;
}
.box1-tpp > p, .box1-tpp > h2 {
    margin: 0px 0px 10px 0px;
}
.box1-tpp > h3{
    margin: 0px 15px 15px 15px;
}
.box2-tpp{
    font-size: 14px;
    font-weight: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 55%;
    margin: 20px auto 0px auto;
}
.box2-tpp > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15%
}
.box2-tpp > div > img{
    width: 50px;
    height: 50px;
    margin: 0px auto;
    padding-bottom: 15px;
}
.box2-tpp > div > a:link{
    color: black;
    text-decoration: none;
}
.box2-tpp > div > a:visited{
    color: black;
    text-decoration: none;
}
.box2-tpp > div > a:hover{
    color: teal;
    text-decoration: underline;
}
#last-point{
    padding: 80px 15px 90px 15px;
    text-align: center;
}
#last-point > div{
    width: 30%;
    margin: auto;
    font-weight: 700;
}
#last-point > div > p{
    margin: 0px 0px 25px 0px;
}
.nav-bar{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header{
    background-color: white;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 6% auto auto auto auto auto auto auto auto auto 6%;
    grid-template-rows: auto;
    grid-gap: 5px;
}
.logo{
    padding: 10px;
    padding-right: 0;
}
.logo img{
    width: 95px;
}
.black-text p{
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    color: black;
}
.black-text{
    padding: 10px;
    text-align: center;
    padding-top: 0;
}
.black-text p:hover{
    color: rgb(10, 128, 128);
}
.topic{
    text-decoration: none;
}
.sign-in-nav{
    background-color: rgb(248, 245, 242);
    border: 0;
    padding: 0 15px;
    border-radius: 5px;
}
footer{
    width: 90%;
    padding: 55px 15px 50px 15px;
    margin: auto;
    font-size: 15px;
}
.cont2{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
#talk-shop{
    display: flex;
    margin-bottom: 10px;
    padding: 0px 15px;
}
#talk-shop > div{
    border-top: 1px solid #e7e7ec;
    width: 66.666%;
    margin: auto;
}
.cont2 > div{
    padding: 0px 15px 40px 15px;
}
.f-title{
    color: black;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}
.blue-text{
    color: #0A8080;
    margin: 0px 0px 10px 0px;
}
.grey-text{
    color: #525257;
    margin: 0px 0px 10px 0px;
}
.subtitle{
    color: #525257;
    margin: 0px 0px 10px 0px;
}
.subtitle:hover, .blue-text:hover{
    color: #007bff;
}
.subtitle-a{
    font-weight: 300;
    color: black;
}
@media screen and (max-width: 1150px){
    .nav-bar{
        position: static;
    }
    .header{
        grid-template-columns: auto;
    }
    #hid{
        display: none;
    }
    #image-top > div:nth-child(1){
        display:none
    }
    #image-top > div:nth-child(3){
        display: none;
    }
    .shadowing-images{
        text-align: center;
        margin: 0px 0px 0px 0px
    }
}
@media screen and (max-width: 990px) {
    .p-tag, .multi-p-tags{
        font-size: 16px;
    }
    #intro{
        padding: 60px 15px 80px;
    }
    .intro-heading2{
        font-size: 49px;
    }
    .multi-h4-tags{
        font-weight: 600;
        font-size: 17px;
    }
    #intro1_1 > p{
        width: 60%;
        font-size: 17px;
    }
    .h2-tag{
        font-size: 32px;
    }
    .offer-letters-mdiv{
        flex-direction: column;
    }
    .box1{
        text-align: center;
        max-width: 70%;
    }
    .box2 > img{
        max-width: 100%;
        margin: 0px auto;
        padding-top: 50px;
    }
    .box1-ol, .box2-ol, .box2-oc, .box1-oc{
        margin: 0%;
    }
    .offer-letters-video > video{
        width: 40%;
        padding: 67px 27% 0% 27%;
    }
    .onboarding-checklist-mdiv{
        flex-direction: column-reverse;
    }
    .few-words-div > img{
        height: 40px;
    }
    #few-words > p {
        width: 100%;
        font-size: 42px;
        line-height: 45px;
    }
    #few-words{
        padding: 60px 15px 80px;
    }
    .documents-mdiv{
        grid-template-columns: repeat(1, 100%);
        grid-template-areas: 'box3'
                             'box2'
                             'box4';
    padding: 90px 25px 80px 25px;
    margin: auto;
    }
    #B2{
        margin-left: 36%;
    }
    #B3{
        max-width: 70%;
        margin: auto;
        padding: 0%;
    }
    #B4{
        width: 70%;
        margin: -5px auto 0px auto;
    }
    #B4>img{
        padding: 0%;
    }
    #software-setup{
        max-width: 60%;
    }
    .cont1{
        box-shadow: none;
    }
    .tm-checklist-mdiv{
        flex-direction: column-reverse;
        padding: 320px 25px 80px;
    }
    .tm-checklist-mdiv > div{
        max-width: 55%;
        margin: 0px auto;
        padding: 0px 14%;
        line-height: 24px;
    }
    .box2-tm > img{
        display: none;
    }
    li{
        text-align: left;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    .box1-tm > p{
        margin: 0px 0px 30px 0px;
    }
    .blue-box-div{
        flex-direction: column;
        justify-content: center;
        font-family: 'Prompt', sans-serif;
    }
    .blue-box-mdiv > h1{
        font-size: 42px;
        margin-bottom: 70px;
    }
    .blue-box-div > div:nth-child(even){
        border: none;
        border-bottom: 2px solid rgb(14, 197, 230);
        height: 0px;
        width: 270px;
        margin: 40px auto;
    }
    .blue-box-div > div{
        max-width: 70%;
        margin: auto;
    }
    .box1-tpp{
        max-width: 90%;
    }
    .box2-tpp{
        max-width: 90%;
    }
    #last-point > div{
        width: 40%;
    }
    .cont2{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}
@media screen and (max-width: 768px) {
    #intro{
        padding: 30px 15px 40px;
        margin: auto;
    }
    .intro-heading2{
        width: 70%;
        font-size: 42px;
    }
    #intro1_1 >p{
        width: 70%;
    }
    #multi-tabs, .offer-letters-mdiv, .shadowing-images{
        padding: 30px 15px 40px;
    }
    .shadowing-images > img{
        width: 100%;
        margin: auto;
        padding: 0px 15px;
    }
    .multi-cont{
        width: 30%;
        padding: 0px 15px;
        margin-bottom: 50px;
    }
    .box1-ol > p{
        width: 70%;
        margin: auto;
    }
    .box2-ol{
        width: 70%;
        margin: auto;
    }
    .offer-letters-mdiv{
        padding-bottom: 100px;
    }
    .offer-letters-video{
        padding: 40px;
    }
    .onboarding-checklist-mdiv{
        padding: 50px 25px 40px;
    }
    .box2-oc{
        width: 70%;
        margin: auto;
    }
    .h2-tag{
        font-size: 29px;
    }
    #few-words > p{
        font-size: 25px;
    }
    #few-words{
        width: 70%;
        padding: 30px 15px 40px;
    }
    #few-words > p{
        line-height: 30px;
    }
    .few-words-div > img{
        height: 43px;
    }
    .documents-mdiv{
        padding: 70px 25px 40px;
    }
    #B2 > img{
        max-width: 40%;
    }
    #software-setup > p, #software-setup > h2{
        width: 90%;
    }
    .cont1{
        width: 30%;
    }
    #center-video{
        max-width: 40%;
    }
    .tm-checklist-mdiv{
        margin-top: 110px;
        padding: 200px 25px 40px;
    }
    .box1-tm{
        padding-left: 0%;
    }
    .box2-tm{
        display: none;
    }
    .blue-box-mdiv > h1{
        font-size: 32px;
        margin-bottom: 60px;
    }
    .blue-box-mdiv{
        padding: 70px 15px 50px;
    }
    .tpp-mdiv{
        padding: 30px 15px 40px;
        width: 70%;
        margin: auto;
    }
    .blue-box-div > div > p, .blue-box-div > div > h5{
        margin: 0px 0px 15px 0px;
    }
    .blue-box-div > div{
        max-width: 100%;
        margin: auto;
    }
    .box1-tpp{
        max-width: 90%;
    }
    .box2-tpp{
        max-width: 60%;
    }
    .box2-tpp > div{
        width: 20%;
        padding: 20px;
    }
    #last-point > div{
        width: 90%;
        padding: 30px 15px 40px;
        margin: auto;
    }
    .last-h2-tag{
        margin: 0px 0px 25px;
    }
    .cont2{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    footer{
        width: 70%;
    }
}
@media screen  and (max-width: 576px){
    .intro-heading2, #intro1_1 > p{
        width: 100%;
        margin: 0px auto 10px auto;
    }
    .shadowing-images > img{
        padding: 0px;
    }
    img{
        max-width: 100%;
    }
    #image-top{
        padding-bottom: 0px;
    }
    .multi-cont{
        width: 40%;
        padding: 0px 15px;
        margin-bottom: 50px;
    }
    .multi-cont >a >  h4, .multi-cont >a> p{
        font-size: 13px;
    }
    .offer-letters-mdiv{
        padding: 70px 25px;
    }
    .box1-ol > p{
        width: 100%;
        margin: auto;
    }
    .box1{
        max-width: 100%;
    }
    .box2{
        width: 100%;
    }
    .box2-ol{
        width: 100%;
    }
    .onboarding-checklist-mdiv{
        max-width: 100%;
        padding: 50px 25px 40px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .offer-letters-video{
        display: none;
    }
    #few-words{
        width: 95%;
        padding: 30px 15px 34px;
    }
    #few-words>p{
        width: 100%;
    }
    .few-words-div{
        flex-direction: column;
    }
    .few-words-div > img{
        max-width: 100%;
        border-left: none;
        border-right: none;
    }
    .few-words-div > p{
        border: none;
        font-size: 14px;
        margin: 0px;
    }
    .offer-letters-mdiv, .documents-mdiv{
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .documents-mdiv{
        padding: 70px 25px 40px;
    }
    #B4{
        width: 100%;
    }
    #software-setup{
        padding: 70px 15px 0px;
    }
    #B3, #software-setup{
        max-width: 90%;
        margin: auto;
    }
    #center-video{
        max-width: 265px;
        max-height: 285px;
    }
    .tm-checklist-mdiv{
        margin-top: 120px;
        padding: 200px 25px 40px;
    }
    .tm-checklist-mdiv > div {
        max-width: 100%;
        margin: 0px auto;
        padding: 0px;
    }
    .blue-box-mdiv{
        padding: 70px 15px 50px;
        margin: 0px auto;
        max-width: 100%;
    }
    .blue-h1{
        font-size: 32px;
    }
    .tpp-mdiv{
        width: 94%;
    }
    .box2-tpp > div{
        width: 20%;
        padding: 10px;
    }
    .box1-tpp{
        max-width: 90%;
    }
    .box2-tpp{
        max-width: 70%;
    }
    #last-point{
        padding: 30px 15px 40px;
        margin: auto;
    }
    #last-point > div{
        padding: 0px;
    }
}