#intro{
    max-width: 95%;
    text-align: center;
    padding: 60px 15px 80px 15px;
    font-family: 'Roboto', sans-serif;
}
#intro1_1{
    margin: auto;
}
.intro-heading{
    font-family: 'Roboto', sans-serif;
    color: #f45d48;
    font-weight: 700;
    margin-bottom: 15px;
}
.intro-heading2{
    width: 60%;
    margin: 0px auto 15px auto;
    font-family: 'Philosopher', sans-serif;
    font-size: 60px;
    font-weight: 500;
}
#intro1_1 > p{
    width: 35%;
    margin: 0px auto 15px auto;
    font-size: 20px;
}
#intro1_1 > button{
    padding: 12px 20px;
    font-size: 15px;
    color: white;
    background: #f45d48;
    border: none;
    border-radius: 5px;
}
#image-top{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    max-width: 1184px;
    margin: auto;
    text-align: left;
    padding-bottom: 90px;
}
#image-top > div:nth-child(1){
    margin-right: 14.5%;
    margin-bottom: 9px;
}
#image-top > div:nth-child(3){
    margin-left: -3%;
    margin-bottom: 43px;
}
.shadowing-images{
    margin-left: -32.5%;
}
#multi-tabs{
    margin: 0px 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 15px 120px 15px;
}
.multi-cont{
    max-width: 16%;
    font-family: "gcentra", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 0px 15px;
}
.multi-p-tags{
    font-size: 17px;
    margin: 0px;
}
.multi-h4-tags{
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
#offer-letters{
    background: #f3fafb;
}
.offer-letters-mdiv, .documents-div{
    max-width: 100%;
    padding: 90px 25px 170px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box1{
    max-width: 33.33%;
    padding: 15px;
}
.box1-ol, .box2-ol, .box2-doc, .box1-doc{
    margin-left: 8.33%;
}
.box2 > img{
    max-width: 100%;
}
.box1 > h2, #software-setup > h2{
    font-size: 50px;
    font-weight: 400;
    font-family: 'Philosopher', sans-serif;
    margin: 10px 0px;
}
.box1 > p, #software-setup > p{
    font-size: 20px;
    margin: 10px 0px;
}
.offer-letters-video{
    margin-left: 8.33%;
    margin-top: -202px;
}
.onboarding-checklist-mdiv{
    max-width: 100%;
    padding: 100px 25px 90px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2-oc, .box2-tm{
    margin-left: 8.33%;
    margin-right: 0%;
}
.box1-oc, .box1-tm{
    margin-left: 0%;
    margin-right: 8.33%;
    padding: 0px 15px;
}
#few-words{
    padding: 80px 15px 220px 15px;
    width: 95%;
    margin: 0px auto 0px auto;
    font-family: "gcentra", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
}
#few-words > p{
    width: 80%;
    margin: 0px auto 15px auto;
    font-family: 'Philosopher', sans-serif;
    font-size: 55px;
    font-weight: 500;
}
.few-words-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.few-words-div > img{
    max-width: 17%;
    height: 43px;
    border: 1px solid gray;
    border-left: none;
}
.few-words-div > p{
    padding: 10px 10px;
    max-width: 100%;
    font-size: 17px;
    border: 1px solid gray;
    border-right: none;
}
.documents-img{
    width: 80%;
}
.documents-img > img{
    max-width: 100%;
    margin-left: 81.4%;
}
.documents-div > div{
    margin-top: -106px;
}
.box2-doc > img, .box2-doc > img{
    max-width: 95%;
    box-shadow: 1px 1px 10px rgb(209, 208, 208), -1px -1px 10px rgb(196, 194, 194);   
}
#documents{
    max-width: 100%;
    background: #FFF8E1;
}
#software-setup{
    text-align: center;
    max-width: 40%;
    margin: 100px auto;
}
.cont > img{
    max-width: 100%;
    padding: 30px 30px 10px 30px;
}
.cont > p{
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    padding: 0px 20px 30px 20px;
}
#container{
    max-width: 95%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cont{
    height: 215px;
    margin: 50px 60px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 1px 1px 10px rgb(209, 208, 208), -1px -1px 10px rgb(196, 194, 194);
}
.tm-checklist-mdiv{
    padding: 380px 25px 120px 25px;
    display: flex;
    flex-direction: row;
}
#center-video{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
#team-management{
    margin-top: -256px;
    background-color: #f0ebe9;
}
.box1-tm{
    padding-left: 7%;
}